data/
dataset/
datasets/

*.csv
*.tsv
*.parquet
*.jsonl
*.feather
*.pkl
*.pickle

*.md

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/
.venv*

.ipynb_checkpoints/


# Trained models
*.joblib
*.h5
*.hdf5
*.onnx
*.pt
*.pth
*.safetensors

logs/
*.log

.vscode/
.idea/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example